.login-container {
    display: flex;
    height: 100vh;
    width: 100vw;
    overflow: hidden;


    img {
        height: auto;
        object-fit:cover
    }
}

/* Media query para dispositivos móviles */
@media only screen and (max-width: 768px) {
    .login-container {
        display: block;
        /* Cambiamos el display a block en dispositivos móviles */
    }
}

.login-form {
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.signup-link {
    font-size: 14px;
    margin-top: 20px;
}

.signup-link a {
    color: #007bff;
    text-decoration: none;
}
