<div class="login-container">
  <div class="login-form">
    <app-base-form
      [title]="mode === 'sign-in' ? 'LOGIN' : 'SIGN UP'"
      [fields]="fields"
      (onSubmit)="handleLogin($event)"
    >
      <ng-container footer>
        @if (mode === 'sign-in') {
        <p class="signup-link">
          Don't have an account? <a routerLink="/sign-up">Sign Up</a>
        </p>
        } @else {
        <p class="signup-link">
          Have an account? <a routerLink="/sign-in">Sign Up</a>
        </p>
        }
      </ng-container>
    </app-base-form>
  </div>
  <div class="background-pattern"></div>
</div>