<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>Menu </mat-toolbar>
    <mat-nav-list>
      @for (item of menuOptions; track $index) {
      <a mat-list-item [routerLink]="item.path" routerLinkActive="active">{{
        item.label
      }}</a>
      }
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      @if (isHandset$ | async) {
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      }
      <span>take-my-car</span>

      <div style="flex: 1 1 auto"></div>
      <div style="display: flex; align-items: center;">
        @if (auth.user?.role) {
          <span>{{auth.user.role === 'tenant'? 'Usuario': 'Owner'}}: </span>
        }
        <span> {{ auth.user?.name }} </span>
        <button
          mat-icon-button
          [matMenuTriggerFor]="menu"
          style="margin-right: 1rem"
        >
          <mat-icon>account_circle</mat-icon>
        </button>
        <mat-menu #menu>
          <button (click)="handleLogOut()" mat-button>
            <mat-icon>logout</mat-icon>
            cerrar sesión
          </button>
        </mat-menu>
      </div>
    </mat-toolbar>

    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
