<div
  style="
    display: flex;
    align-items: center;
    padding: 1rem;
    justify-content: space-between;
  "
>
  <h1>Vehicles</h1>
  @if (isOwner) {
  <button aria-label="New vehicle" mat-flat-button (click)="handleNewVehicle()">
    Agregar vehiculo
  </button>
  }
</div>
<mat-grid-list cols="1" rowHeight="250px">
  @for (vehicle of vehicles; track vehicle) {
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <mat-card class="dashboard-card">
      <mat-card-header>
        <mat-card-title>
          <button
            mat-icon-button
            class="more-button"
            [matMenuTriggerFor]="menu"
            aria-label="Toggle menu"
          >
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu" xPosition="before">
            <a mat-menu-item [routerLink]="'./' + vehicle.id">Edit</a>
            <button mat-menu-item (click)="handleDelete(vehicle.id)">
              Delete
            </button>
          </mat-menu>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content class="dashboard-card-content">
        <img height="100px" width="150px" [src]="vehicle?.images?.[0]" />
        <div>
          <p>Brand: {{ vehicle.brand }}</p>
          <p>Model: {{ vehicle.model }}</p>
          <p>Price: {{ vehicle.price }}</p>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  }
</mat-grid-list>
