<mat-card style="padding: 1rem">
  <mat-card-title>
    {{ title }}
    <ng-content select="[header]"></ng-content>
  </mat-card-title>
  <mat-card-content>
    @if (form) {
    <form [formGroup]="form" (ngSubmit)="handleSubmit()">
      @for (field of fields; track $index) {
      <p>
        @switch (field.type) {
        <!---->
        @case ('checkbox') {
        <mat-checkbox [formControlName]="field.formControlName">
          {{ field.label }}
        </mat-checkbox>
        }

        <!---->
        @case ('radio-button') {
        <mat-radio-group [formControlName]="field.formControlName">
          @for (item of field.options; track $index) {
          <mat-radio-button [value]="item">{{ item }}</mat-radio-button>
          }
        </mat-radio-group>
        }

        <!----->
        @default {
        <mat-form-field appearance="outline">
          @if (field.label) {
          <mat-label>{{ field.label }}</mat-label>
          }
          <input
            [type]="field.type"
            matInput
            [placeholder]="field.placeholder ?? ''"
            [formControlName]="field.formControlName"
            outl
          />
        </mat-form-field>
        } } 
        
        <!---->
        @if (checkForErrorsIn(field.formControlName)) {
        <mat-error>
          {{ checkForErrorsIn(field.formControlName) }}
        </mat-error>
        }
      </p>
      }

      <p *ngIf="error" class="error">
        {{ error }}
      </p>

      <div class="button">
        <button type="submit" mat-flat-button >
          Submit
        </button>
      </div>

      <ng-content select="[footer]"></ng-content>
    </form>
    }
  </mat-card-content>
</mat-card>
